.App {
    text-align: center;
}

.songs-list-wrapper {

}

.song-list {
    width: 70%;
    float: left;
    padding: 10px;
}

.filter-box {
    width: 30%;
    float: left;
    padding: 10px 20px 20px;
}

.select-title {
    padding: 10px 0;
}

.table-head {
    cursor: pointer;
}

.pagination-select li{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style-type: none;
}

.pagination-select .active{
    background-color: #337ab7;
    color: #ffffff;
}
